body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    background-image: url('https://images.unsplash.com/photo-1482686115713-0fbcaced6e28?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2067&q=80');
    background-size: cover;
    background-attachment: fixed;
    color: #3d1091;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    padding: 80px 40px;
    box-sizing: border-box;
    background-color: rgba(65, 61, 61, 0.3);
    box-shadow: 0 5px 30px #000;
    border-radius: 30px;
}

.login-form h2 {
    margin: 0;
    padding: 0 0 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.login-form p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

.login-form input {
    border: none;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    width: 90%;
    border-bottom: solid 2px #fff;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    color: #fff;
}

.login-form input[type="email"], .login-form input[type="password"] {
    border: none;
    border-bottom: solid 1px #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

/* .loginButton {
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    background-color: #3d1091;
    border-style: none;
    color: #fff;
    font-weight: 600;
    margin: 10% 0;
} */

.btnlogin {
    background-color: #3d1091;
    border: solid;
    border-radius: 20px;
    color: white;
    width: 40mm;
    height: 12mm;
    margin-left: 25%;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    width: 5%;
}