title {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    background-image: url('https://images.unsplash.com/photo-1482686115713-0fbcaced6e28?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2067&q=80');
    background-size: cover;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    /* border-bottom: solid;
    border-color: #3d1091; */
    align-items: center;
}

.title-left {
    display: flex;
    align-items: center;
}

.title-left h1 {
    font-size: 40px;
    margin-left: 15px;
    color: #3d1091;
    text-decoration: none;
}

.title-left h1:hover {
    color: #3d1091;
}

input[name="Main-search-bar"] {
    margin-left: 40px;
    background-color: white;
    border: solid;
    border-color: #3d1091;
    border-radius: 10px;
    color: #3d1091;
    height: 8mm;
}

.title-right{
    display: flex ;
    justify-content: left;
    padding: 10px;
    align-items: center;
}

.Shopping-cart {
    margin-right: 20px;
    
}

.Register-button {
    margin-left: 10px;
    margin-right: 20px;
}

button[name="Loginbutton"] {
    background-color: white;
    border: solid;
    border-radius: 10px;
    color: #3d1091;
    width: 15mm;
    height: 7mm;
}

button[name="Loginbutton"]:hover {
    background-color: #8e7cc3;
    border-color: white;
    color: white;
}

button[name="Registerbutton"] {
    background-color: #3d1091;
    border: solid;
    border-radius: 10px;
    border-color: #3d1091;
    color: white;
    width: 15mm;
    height: 7mm;
}

button[name="Registerbutton"]:hover {
    color: #8e7cc3;
}

/* Main box */
main {
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #3d1091;
}

