</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Asset/Style/forum.css">
    <link rel="stylesheet" href="../Asset/Global/header.css">
    <link rel="stylesheet" href="../Asset/Global/footer.css">
    <script src="../../script/login.js"></script>
    <script src="../../script/jquerry.js"></script>
    <title>Forum</title>
</head>
<body>
    <!-- navbar -->
    <header>
        <div class="header">
            <a href="./home.html" id="logo">يتعلّم</a>
            <div class="kiri">
                <!-- <a href="./category.html">Category</a> -->
                <a href="./aboutUs.html">About Us</a>
                <!-- <a href="./faq.html">FAQ</a> -->
            </div>
        </div>
        <div class="logreg">
            <a href="./login.html">Login</a>
            <a href="./register.html">Register</a>
            <a class="logoBinus" href="https://binus.ac.id/">
                <img src="../Asset/logoBINUS.png" alt="">
            </a>
        </div>
        <input type="checkbox" id="hamburger">
        <label for="hamburger" id="burgerbtn">&equiv;</label>
        <!-- navbar responsive -->
        <div class="respons">
            <div class="head">
                <a href="./category.html">Category</a>
                <a href="./aboutUs.html">About Us</a>
            </div>
            <div class="logres">
                <a href="./login.html">login</a>
                <a href="./register.html">register</a>
            </div>
        </div>
    </header>

    <main>
        <div class="main-title">
            <h1>Forum</h1>
        </div>
        <div class="post-1">
            <div class="post-1-userData">
                <img src="../Asset/manuk-kece.jpg" alt="profile-1" width="50px" height="50px" id="manuk">
                <h4>Yahyun Manuk</h4>
            </div>
            <p>
                Hai aku pengocog handal diseantero dunia
            </p>
        </div>
        <div class="post-1">
            <div class="post-1-userData">
                <img src="../Asset/manuk-kece.jpg" alt="profile-1" width="50px" height="50px" id="manuk">
                <h4>Yahyun Manuk</h4>
            </div>
            <p>
                Aku kesepian, ada yang mau jadi pacarku? soalnya orang lain jadiin aku badut
            </p>
        </div>
    </main>
    <div class="addForum">
        <img src="../Asset/Yataallam-addition.png" alt="addForum" width="50px" height="50px">
    </div>
    
    <!-- footer -->
    <footer>
        <div class="image">
            <img src="../Asset/bxl-facebook.svg" alt="">
            <img src="../Asset/bxl-instagram.svg" alt="">
            <img src="../Asset/bxl-twitter.svg" alt="">
        </div>
        <div class="text">
            <p>Copyright @ 2023 Ya-Ta'allam. All Right Reversed</p>
        </div>
    </footer> 
</body>
</html>