<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
    <!-- <link rel="stylesheet" href="../Asset/Global/navbar.css"> -->
    <link rel="stylesheet" href="../Asset/Style/index.css">
    <title>Ya-Ta'allam</title>
</head>
<body>
    <header>
    </header>
    <main>
        <div class="title">
            <h2>WELCOME</H2>
        </div>
    </main>
    <footer></footer>
</body>
</html>