<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Asset/Style/register.css">
    <link rel="stylesheet" href="../Asset/Global/header.css">
    <link rel="stylesheet" href="../Asset/Global/footer.css">
    <script src="../../script/Register.js"></script>
    <script src="../../script/jquerry.js"></script>
    <title>Register</title>
</head>
<body>
    <!-- navbar -->
    <header>
        <div class="header">
            <a href="./home.html" id="logo">يتعلّم</a>
            <div class="kiri">
                <!-- <a href="./category.html">Category</a> -->
                <a href="./aboutUs.html">About Us</a>
                <!-- <a href="./faq.html">FAQ</a> -->
            </div>
        </div>
        <div class="logreg">
            <!-- <a href="./login.html">Login</a> -->
            <!-- <a href="./register.html">Register</a> -->
            <a class="logoBinus" href="https://binus.ac.id/">
                <img src="../Asset/logoBINUS.png" alt="">
            </a>
        </div>
        <input type="checkbox" id="hamburger">
        <label for="hamburger" id="burgerbtn">&equiv;</label>
        <!-- navbar responsive -->
        <div class="respons">
            <div class="head">
                <a href="./category.html">Category</a>
                <a href="./aboutUs.html">About Us</a>
            </div>
            <div class="logres">
                <!-- <a href="./login.html">login</a> -->
                <!-- <a href="./register.html">register</a> -->
            </div>
        </div>
    </header>

    <div class="homecontainer">
        <div class="borderBox">
           <div class="borderBox2">
                <div class="boxTitle">
                    <P>Register</P>
                </div>
                <div class="boxAsset">
                    <div class="loginPage">
                        <form>
                            <section id="name">
                                <p>Name</p>
                                <input type="text" id="uname" name="name" placeholder="John Doe" size="20" required>
                            </section>
                            <section id="email">
                                <p>Email Address</p>
                                <input type="email" id="uemail" name="inputEmail"  size="20" required>
                            </section>
                            <section id="password">
                                <p>Password</p>
                                <input type="password" id="upassword" name="inputPassword" size="20" required>
                            </section>
                            <section id="cpassword">
                                <p>Confirm Password</p>
                                <input type="password" id="ucpassword" name="inputPassword" size="20" required>
                            </section>
                            <div class="confirmAcc">
                                <p>
                                    <input id="uconfirmAcc" name="terms" type="checkbox"> By clicking register, I agree to the terms and conditions.
                                </p>
                            </div>
                            <div class="registCon">
                                <button id="uregistButton" type="button" onclick="runRegister()" class="btnRegist">REGISTER</button>
                            </div>
                        </form>
                    </div>
                </div>
           </div> 
        </div>
    </div>
    
    <!-- footer -->
    <footer>
        <div class="image">
            <img src="../Asset/bxl-facebook.svg" alt="">
            <img src="../Asset/bxl-instagram.svg" alt="">
            <img src="../Asset/bxl-twitter.svg" alt="">
        </div>
        <div class="text">
            <p>Copyright @ 2023 Ya-Ta'allam. All Right Reversed</p>
        </div>
    </footer> 
</body>
</html>